<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{todoapp.title}">ToDo APP</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<span th:substituteby="commons :: common-css"></span>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">User Name</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" style="text-align: center; line-height: 50px;">
				<a th:href="@{/}" style="text-decoration: none; font-size: 20px; color: #fff;">ToDo App</a>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="wrapper" style="width: 100%; margin-top: 50px; padding: 20px 10px; box-sizing: border-box;">
		<div class="row">
			<!-- To Do -->
			<div class="col-md-4">
				<div class="panel panel-primary panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">To Do</h5>
					</div>
					<div class="panel-body" style="background: #e2e4e6">
						<!-- add item button -->
						<span th:if="${update != 'true'}">
							<div class="col-md-12" style="margin-bottom: 10px;">
								<div class="row">
									<a href="#" onClick="showAddButton()">Add item</a>
								</div>
							</div>
						</span>
						<!-- add item input field -->
						<div id="itemAddInputField" class="col-md-12" style="margin-bottom: 10px; display:none;">
							<div class="row">
								<form th:action="@{/addTodoItem}" th:object="${todoItem}" method="post">
									<span th:if="${#fields.hasErrors('des')}" th:errors="*{des}" class="text-danger">adfasd</span>
									<textarea required="required" th:field="*{des}" rows="5" cols="" class="form-control"></textarea>
									<button type="submit" class="btn btn-success btn-sm" style="margin-top: 10px;"><i class="fa fa-save"></i> Save </button>
									<a onClick="hideAddButton()" href="#" class="btn btn-danger btn-sm" style="margin-top: 10px;"><i class="fa fa-times"></i></a>
								</form>
							</div>
						</div>
						<!-- display items loop -->
						<div id="itemMainBox" th:each="item,num : ${todoItems}" class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<!-- if it is not for update -->
								<span th:if="${update != 'true'}">
									<div class="col-md-12 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">
										<a id="editLinkButton" th:href="@{/updateTodoItem/} + ${item.id}" class="pull-right" style="margin-left: 10px;"><i class="fa fa-edit"></i></a>
										<p style="margin: 0;" th:text="${{item.des}}"></p>
									</div>
								</span> 
								<!-- if it is update -->
								<span th:if="${update == 'true'}"> 
									<!-- updatable item box -->
									<span th:if="${todoItemById.id == item.id}">
										<form th:action="@{/updateItem}" method="post" th:object="${todoItemById}">
											<div class="col-md-12" style="background: #fff; padding: 10px; border-radius: 5px;">
												<input type="hidden" th:field="*{id}"/>
												<textarea rows="5" class="form-control" th:field="*{des}"></textarea>
												<button type="submit" class="btn btn-warning btn-sm" style="margin-top: 10px;"><i class="fa fa-pencil-square-o"></i> Update</button>
											</div>
										</form>
									</span> 
									<!-- non updatable item -->
									<span th:if="${todoItemById.id != item.id}">
										<div class="col-md-12 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">
											<a th:href="@{/updateTodoItem/} + ${item.id}" class="pull-right" style="margin-left: 10px;"><i class="fa fa-edit"></i></a>
											<p style="margin: 0;" th:text="${{item.des}}"></p>
										</div>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- In Progress -->
			<div class="col-md-4">
				<div class="panel panel-success panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">In Progress</h5>
					</div>
					<div class="panel-body" style="background: #e2e4e6">
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-arrow-left"></i></a> <a href=""><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-arrow-left"></i></a> <a href=""><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Done -->
			<div class="col-md-4">
				<div class="panel panel-warning panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">Done</h5>
					</div>
					<div class="panel-body" style="background: #e2e4e6">
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-trash"></i></a> <a href=""><i class="fa fa-arrow-left"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-trash"></i></a> <a href=""><i class="fa fa-arrow-left"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function showAddButton() {
			document.getElementById("itemAddInputField").style = "display : block";
			document.getElementById("itemAddInputField").style = "margin-bottom : 10px";
			document.getElementById("itemAddInputField").classList.add('col-md-12');
		}
		function hideAddButton() {
			document.getElementById("itemAddInputField").style = "display : none";
		}
	</script>
	<span th:substituteby="commons :: common-js"></span>
</body>
</html>