<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{todoapp.title}">ToDo APP</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<span th:substituteby="commons :: common-css"></span>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">User Name</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" style="text-align: center; line-height: 50px;">
				<a href="#" style="text-decoration: none; font-size: 20px; color: #fff;">ToDo App</a>				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="wrapper" style="width: 100%; margin-top: 50px; padding: 20px 10px; box-sizing: border-box;">
		<div class="row">
			<!-- To Do -->
			<div class="col-md-4" onmouseover="showAddButton()" onmouseleave="hideAddButton()">
				<div class="panel panel-primary panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">To Do</h5>
					</div>
					<div class="panel-body" style="background: #DDD">
						<!-- items loop -->
						<div th:each="item,num : ${todoItems}" class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;" th:text="${{item.des}}"></div>
								<div class="col-md-1">
									<a th:href="@{/updateTodoItem/} + ${item.id}" onClick="hello()" data-toggle="modal" data-target="#todoEditModal"><i class="fa fa-edit"></i></a>
									<a href=""><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer" style="background: #DDD">
						<div class="row">
							<div id="addButton" class="col-md-12" style="display: none;">
								<button data-toggle="modal" data-target="#todoModal" class="btn btn-success">
									<i class="fa fa-plus"></i> Add an item
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- In Progress -->
			<div class="col-md-4">
				<div class="panel panel-success panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">In Progress</h5>
					</div>
					<div class="panel-body" style="background: #DDD">
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-arrow-left"></i></a>
									<a href=""><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-arrow-left"></i></a>
									<a href=""><i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer" style="background: #DDD">
					</div>
				</div>
			</div>
			<!-- Done -->
			<div class="col-md-4">
				<div class="panel panel-warning panel-box">
					<div class="panel-heading">
						<h5 style="text-align: center;">Done</h5>
					</div>
					<div class="panel-body" style="background: #DDD">
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-trash"></i></a>
									<a href=""><i class="fa fa-arrow-left"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-12" style="margin-bottom: 10px;">
							<div class="row">
								<div class="col-md-11 item-box" style="background: #fff; padding: 10px; border-radius: 5px;">to do app sfsdfs asdf asdf adsf adsf asf sdf sadfasdf asf sdafsdf ad</div>
								<div class="col-md-1">
									<a href=""><i class="fa fa-trash"></i></a>
									<a href=""><i class="fa fa-arrow-left"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer" style="background: #DDD">
					</div>
				</div>
			</div>
			<!-- todo add Modal -->
			<div id="todoModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<form th:action="@{/addTodoItem}" th:object="${todoItem}" method="post">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Add todo item</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Add description</label><span th:if="${#fields.hasErrors('des')}" th:errors="*{des}" class="pull-right text-danger">adfasd</span>
									<textarea class="form-control" th:field="*{des}" required="required"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success pull-left">
									<i class="fa fa-save"></i> Add
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- todo edit Modal -->
			<div id="todoEditModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<form action="" method="post">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Edit todo item</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Description</label>
									<textarea class="form-control" required="required"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-warning pull-left">
									<i class="fa fa-refresh"></i> Update
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function showAddButton(){
			document.getElementById("addButton").style= "display : flex";
			document.getElementById("addButton").classList.add('col-md-12');
		}
		function hideAddButton(){
			document.getElementById("addButton").style= "display : none";
		}
	</script>
	<span th:substituteby="commons :: common-js"></span>
</body>
</html>