@CHARSET "UTF-8";

.item-box{
	text-align: justify;
	box-shadow: 0px 0px 5px #999b9c;
	color: #727475;
}
.item-box:HOVER {
	background: #edeff0 !important;
	color: #727475;
	cursor: pointer;
}
.editLinkButton{
	display: none;
}
.item-box:HOVER > .editLinkButton{
	display: inline-block !important;
}
.editLinkButton:hover{
	color: red;
}
.panel-box{
	cursor: pointer;
}